<launch>

  <!-- Load the URDF into the ROS Parameter Server (find v4r_gazebo) -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find multi_robot_tutorial)/xacro/pioneer3dx.xacro'" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
      <param name="publish_frequency" type="double" value="30.0"/>
      <!--<param name="tf_prefix" type="string" value=""/>-->
  </node>

<node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
      <param name="publish_frequency" type="double" value="30.0"/>
  </node>

</launch>
